@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* loader */
.mini-loader {
    width: 18px;
    height: 18px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
/* loader */


.notyf__message {
    font-size: 14px !important;/* Tailwind utility */
}

.filepond--drop-label {
    background-color: #fff !important;
    border: 1px solid #D1D5DB !important;
    border-radius: 10px !important;
    overflow: hidden;
}

.filepond--panel-root {
    background-color: #fff !important;
}